.container-perfil {
  background: var(--body-bg-color);;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
  color: #fff;
}

.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 500px;
  height: 500px;
  background: var(--color-main-200);
  border: 2px solid var(--color-main-300);
}
.perfil-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  width: 500px;
  height: 500px;
  gap: 20px;
}

.boxUserIconPerfil {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.userIconPerfil {
  width: 120px;
  border-radius: 100%;
}

.boxEditImageIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  opacity: 0;
  transition: .1s;
}

.editImageIcon {
  width: 50px;
}

.boxEditImageIcon:hover {
  opacity: 1;
  background: rgba(138, 138, 138, 0.288);
}

.perfil-container-info {
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  font-size: 20px;
}
