.headerPrivate {
  /* background: linear-gradient( 45deg, var(--dark-green), var(--medium-green)); */
  background-color: var(--color-main-200);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  color: var(--text-color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  font-family: "Parkinsans", sans-serif;
}

.navPrivate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.userMenuBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textHeaderPrivate {
  font-size: 25px;
  font-weight: 700;

}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.userIcon {
  width: 40px;
  border-radius: 100%;
}

.hidden {
  display: none;
}



