header {
  background: #2E7D32;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  color: #fff;
  font-family: "Parkinsans", sans-serif;
  font-weight: 700;
  font-size: 27px;
}
