.headerPrivate {
  background: linear-gradient( 45deg, var(--dark-green), var(--medium-green));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  color: #fff;
  font-family: "Parkinsans", sans-serif;
}

.navPrivate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.userMenuBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textHeaderPrivate {
  font-size: 25px;
  font-weight: 700;
}

.hidden {
  display: none;
}



