.background-logout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0);
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  width: 300px;
  height: 200px;
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: rgb(72, 180, 72);
  color: #fff;
  padding: 20px;


}

.hidden {
  display: none;
}
