.box-listar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: #E6F7E9;
  gap: 10px;
}

.user-box {
  border: 1px solid #000;
  padding: 20px;
  width: 450px;
  border-radius: 20px;
  background-color: #2E7D32;
  color: #fff;
}