* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Parkinsans", sans-serif;;
  
}

a {
  color: #000;
}

body {
  background-color: #f0f0f0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}