* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", serif;
}

:root { /* Paleta de cor */
  --black: #1E1E1E;
  --dark-green-200: #1b5f08;
  --dark-green:#01801e;
  --medium-green: #0f7e3f; 
  --light-green: #37aa63;
  --light-green-100:#8FBC8F;
  --light-green-200: #A5D6A7; 
  --light-green-300:#c6ffe6;

  --text-white-100:#FFFFFF;
  --text-white-200:#e0e0e0;

  --bg-200:#2d2d2d;
  --bg-300:#454545;

  /* Paleta de cor TEMA LIGHT 
  --bg-main-color: #ecf4fa;
  */
  
  /* TEXT */
  --text-color-100: #3b3c3d;
  --text-color-200: #1d1c1c;
  --text-color-white: #fff;
  --text-color-black: #000;
  
  /* COLORS MAIN */
  
  /* Paleta de cor azul
  */
  --color-main-100: #d4eaf7;
  --color-main-200: #71c4ef;
  --color-main-300: #00668c;
  --color-main-400: #004158;
  
  /* Paleta de cor vermelha
  --color-main-100: #ffd299;
  --color-main-200: #FF7F50;
  --color-main-300: #dd6236;
  --color-main-400: #8f1e00;
  */

  /* Paleta de cor TEMA DARK 
  */
  --bg-main-color: #181818;
}

body {
  background: var(--bg-main-color);
  overflow-x: hidden;
  color: var(--text-color-white);
}

.displaynone {
  display: none;
}

/* body {
  background-color:hsla(310,0%,0%,1);
  background-image:
  radial-gradient(at 58% 92%, hsla(0,0%,13%,0.71) 0px, transparent 50%),
  radial-gradient(at 44% 20%, hsla(0,0%,13%,0.35) 0px, transparent 50%),
  radial-gradient(at 5% 12%, hsla(0,0%,13%,1) 0px, transparent 50%),
  radial-gradient(at 97% 88%, hsla(0,0%,13%,1) 0px, transparent 50%),
  radial-gradient(at 81% 15%, hsla(0,0%,13%,0.77) 0px, transparent 50%),
  radial-gradient(at 16% 71%, hsla(0,0%,13%,0.79) 0px, transparent 50%);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
} */