.componentAvatarUser {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.componentAvatar {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.componentAvatar p {
  font-size: 20px;
  color: #fff;
  font-weight: 800;
}

.componentAvatarBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
} 

.componentAvatarBoxFotoAtualImage, .componentAvatarBoxfotoNovaImage {
  width: 160px;
  height: 160px;
  border-radius: 100%;
}

.componentAvatarBoxFotoNova, .componentAvatarBoxFotoAtual {
  text-align: center;
  width: 200px;
  height: 200px;
}

.componentAvatarBoxfotoNova {
  width: 150px;
}

.componentAvatarInputBox {
  width: 100%;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* BUTTONS COMPONENT CONFIG */

.componentAvatar button, .componentName button, .componentEmail button, .componentPassword button {
  height: 30px;
  width: 50%;
  background: var(--color-main-400);
  border: none;
  outline: none;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-top: 10px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.hidden-input {
  opacity: 0; /* Esconde o input */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.custom-button {
  background: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.custom-button:hover {
  background: #0056b3;
}

.file-name {
  margin-left: 10px;
  color: #666;
}

.componentName {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.componentName input {
  height: 30px;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-inline: 5px;
}

.componentName-current-name-legend-box, .componentName-new-name-legend-box {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.componentName-current-name-input-box, .componentName-new-name-input-box {
  width: 100%;
  position: relative;
  display: flex;
  height: 70px;
  justify-content: center;
  flex-direction: column;
}

.componentName input::placeholder {
  color: #fff;
}

.componentName-current-name {
  width: 100%;  
  display: flex;
  align-items: center;
  gap: 10px;
}

.componentName-new-name {
  width: 100%;  
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  gap: 10px;
}


.componentName-new-name-text {
  font-size: 13px;
  color: red;
  position: absolute;
  top: 0;
  font-weight: 500;
}

 /* ComponentEmail */

 .componentEmail {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.componentEmail input {
  height: 30px;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-inline: 5px;
}

.componentEmail-current-email, .componentEmail-new-email {
  width: 100%;  
  display: flex;
  align-items: center;
  gap: 10px;
}

.componentEmail input::placeholder {
  color: #000;
}

.componentEmail-legend-box {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.componentEmail-input-box {
  width: 100%;
  position: relative;
  display: flex;
  height: 70px;
  justify-content: center;
  flex-direction: column;
}

.componentEmail-text {
  font-size: 13px;
  color: red;
  position: absolute;
  top: 0;
  font-weight: 500;
}

/* ComponentPassword */

.componentPassword {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.componentPassword input {
  height: 30px;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-inline: 5px;
}

.componentPassword input::placeholder {
  color: #000;
}

.componentPassword-current-password, .componentPassword-new-password, .componentPassword-confirm-new-password {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.componentPassword-current-password-legend-box, .componentPassword-new-password-legend-box, .componentPassword-confirm-new-password-legend-box {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 500;
  text-align: center;
}

.componentPassword-current-password-input-box, .componentPassword-new-password-input-box, .componentPassword-confirm-new-password-input-box {
  width: 100%;
  display: flex;
  height: 70px;
  justify-content: center;
  flex-direction: column;
}

.componentPassword-errorText {
  width: 100%;
  font-size: 13px;
  color: red;
  position: absolute;
  top: 0;
  font-weight: 500;
}

/* Componente Exluir Conta */

.componentDeleteAccount {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.componentDeleteAccount img {
  width: 100px;
  height: 100px;
}

.componentDeleteAccount p {
  font-size: 20px;
  color: #fff;
  font-weight: 800;
}

.componentDeleteAccount button {
  background: red;
  border: 2px solid #a30202 ;
  height: 30px;
  width: 50%;
  outline: none;
  border-radius: 10px;
  margin-top: 20px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

/* Tratamento de erros */

.error {
  outline: 1px solid red !important;
  background: #fff6bf;
}

.error ::placeholder {
  color: #fff;
}
