.component1 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.component1 input {
  height: 30px;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-inline: 5px;
}

.component1 button {
  height: 30px;
  width: 100%;
  background: var(--light-green);
  border: none;
  outline: none;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-top: 20px;
}

.component1-current-name {
  width: 100%;  
  display: flex;
  flex-direction: column;
}

.component1-new-name {
  width: 100%;  
  display: flex;
  flex-direction: column;
}