.componentName {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.componentName input {
  height: 30px;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-inline: 5px;
}

.componentName button {
  height: 30px;
  width: 100%;
  background: var(--light-green);
  border: none;
  outline: none;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-top: 20px;
}

.componentName-current-name {
  width: 100%;  
  display: flex;
  flex-direction: column;
}

.componentName-new-name {
  width: 100%;  
  display: flex;
  flex-direction: column;
}

 /* Component2 */

 .componentEmail {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.componentEmail input {
  height: 30px;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-inline: 5px;
}

.componentEmail button {
  height: 30px;
  width: 100%;
  background: var(--light-green);
  border: none;
  outline: none;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-top: 20px;
}